Imports

In [1]:
import pandas as pd
from datetime import datetime

Import data

In [2]:
data_df_columns = ["user id", "item id", "rating", "timestamp"]
data_df = pd.read_csv("./ml-100k/u.data", delim_whitespace=True, names=data_df_columns)
item_df_columns = ["movie id", "movie title", "release date", "video release date",\
"IMDb URL", "unknown", "Action", "Adventure", "Animation",\
"Children's", "Comedy", "Crime", "Documentary", "Drama", "Fantasy",\
"Film-Noir", "Horror", "Musical", "Mystery", "Romance", "Sci-Fi",\
"Thriller", "War", "Western"]
item_df = pd.read_csv("./ml-100k/u.item", encoding = "ISO-8859-1", sep='|', names=item_df_columns)
user_df_columns = ["user id" , "age" , "gender" , "occupation" , "zip code"]
user_df = pd.read_csv("./ml-100k/u.user", encoding = "ISO-8859-1", sep='|', names=user_df_columns)

Merge dataframes

In [3]:
data_df.rename(columns={"item id": "movie id"},inplace=True)
full_df = pd.merge(data_df,item_df,how="outer")
full_df = pd.merge(full_df,user_df,how="outer")
full_df

,user id,movie id,rating,timestamp,movie title,release date,video release date,IMDb URL,unknown,Action,...,Mystery,Romance,Sci-Fi,Thriller,War,Western,age,gender,occupation,zip code
0,196,242,3,881250949,Kolya (1996),24-Jan-1997,NaN,http://us.imdb.com/M/title-exact?Kolya%20(1996),0,0,...,0,0,0,0,0,0,49,M,writer,55105
1,196,257,2,881251577,Men in Black (1997),04-Jul-1997,NaN,http://us.imdb.com/M/title-exact?Men+in+Black+...,0,1,...,0,0,1,0,0,0,49,M,writer,55105
2,196,111,4,881251793,"Truth About Cats & Dogs, The (1996)",26-Apr-1996,NaN,http://us.imdb.com/M/title-exact?Truth%20About...,0,0,...,0,1,0,0,0,0,49,M,writer,55105
3,196,25,4,881251955,"Birdcage, The (1996)",08-Mar-1996,NaN,"http://us.imdb.com/M/title-exact?Birdcage,%20T...",0,0,...,0,0,0,0,0,0,49,M,writer,55105
4,196,382,4,881251843,"Adventures of Priscilla, Queen of the Desert, ...",01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?Adventures%20...,0,0,...,0,0,0,0,0,0,49,M,writer,55105
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,873,313,5,891392177,Titanic (1997),01-Jan-1997,NaN,http://us.imdb.com/M/title-exact?imdb-title-12...,0,1,...,0,1,0,0,0,0,48,F,administrator,33763
99996,873,326,4,891392656,G.I. Jane (1997),01-Jan-1997,NaN,http://us.imdb.com/M/title-exact?G%2EI%2E+Jane...,0,1,...,0,0,0,0,1,0,48,F,administrator,33763
99997,873,348,3,891392577,Desperate Measures (1998),30-Jan-1998,NaN,http://us.imdb.com/Title?Desperate+Measures+(1...,0,0,...,0,0,0,1,0,0,48,F,administrator,33763
99998,873,358,2,891392698,Spawn (1997),01-Aug-1997,NaN,http://us.imdb.com/M/title-exact?Spawn+(1997/I),0,1,...,0,0,1,1,0,0,48,F,administrator,33763
99999,873,342,4,891392698,"Man Who Knew Too Little, The (1997)",01-Jan-1997,NaN,http://us.imdb.com/M/title-exact?Man+Who+Knew+...,0,0,...,1,0,0,0,0,0,48,F,administrator,33763

Q1: Print names of the films with most reviews, sorted alphabetically.

In [4]:
print("Movies with the most reviews. Alphabetical;")
top_ten = full_df["movie title"].value_counts(sort=True)[:10]
print(*top_ten.sort_index(axis=0).index.values,sep='\n')

Movies with the most reviews. Alphabetical;
Air Force One (1997)
Contact (1997)
English Patient, The (1996)
Fargo (1996)
Independence Day (ID4) (1996)
Liar Liar (1997)
Return of the Jedi (1983)
Scream (1996)
Star Wars (1977)
Toy Story (1995)

Q2: Print names of the films with most reviews, sorted by number of reviews.

In [5]:
print("\nMovies with the most reviews. Sorted by number of reviews, descending;")
print(*top_ten.index.values,sep='\n')

Movies with the most reviews. Sorted by number of reviews, descending;
Star Wars (1977)
Contact (1997)
Fargo (1996)
Return of the Jedi (1983)
Liar Liar (1997)
English Patient, The (1996)
Scream (1996)
Toy Story (1995)
Air Force One (1997)
Independence Day (ID4) (1996)

Q3: Print list of the number of rating by genre

In [6]:
print("\nGenres with the most reviews;")
print(full_df.loc[:,'unknown':'Western'].sum().reset_index().to_string(header=None, index=None))

Genres with the most reviews;
     unknown     10
      Action  25589
   Adventure  13753
   Animation   3605
  Children's   7182
      Comedy  29832
       Crime   8055
 Documentary    758
       Drama  39895
     Fantasy   1352
   Film-Noir   1733
      Horror   5317
     Musical   4954
     Mystery   5245
     Romance  19461
      Sci-Fi  12730
    Thriller  21872
         War   9398
     Western   1854

Q4: print oldest movie with a 5 rating.

In [7]:
pd.options.mode.chained_assignment = None 
print("\nOldest movie with a 5 rating;")
five_df = full_df.loc[full_df['rating'] == 5]
five_df["release date"] = pd.to_datetime(five_df["release date"])
print(*five_df.loc[five_df["release date"] == five_df["release date"].min()]["movie title"].drop_duplicates().values,sep='\n')

Oldest movie with a 5 rating;
Nosferatu (Nosferatu, eine Symphonie des Grauens) (1922)

Q5: Print a list of the genre of the top 10 most rated movies.

In [8]:
top_ten_info_df = item_df[item_df["movie title"].isin(top_ten.index)]
top_ten_info_df["genre list"] = top_ten_info_df.loc[:,'unknown':'Western'].astype(int).dot(top_ten_info_df.loc[:,'unknown':'Western'].columns+',').str[:-1]
pd.options.mode.chained_assignment = 'warn'
top_ten_info_df = top_ten_info_df[["movie title","genre list"]]
print("\nGenres of the top ten most rated movies;")
print(top_ten_info_df.to_string(header=None, index=None))

Genres of the top ten most rated movies;
              Toy Story (1995)          Animation,Children's,Comedy
              Star Wars (1977)  Action,Adventure,Romance,Sci-Fi,War
                  Fargo (1996)                 Crime,Drama,Thriller
 Independence Day (ID4) (1996)                    Action,Sci-Fi,War
     Return of the Jedi (1983)  Action,Adventure,Romance,Sci-Fi,War
                Contact (1997)                         Drama,Sci-Fi
   English Patient, The (1996)                    Drama,Romance,War
                 Scream (1996)                      Horror,Thriller
              Liar Liar (1997)                               Comedy
          Air Force One (1997)                      Action,Thriller

Q6: Print the title of the movie that was rated the most by students

In [9]:
print("\nMovie with most ratings;")
print(*top_ten[:1].sort_index(axis=0).index.values,sep='\n')

Movie with most ratings;
Star Wars (1977)

Q7: Print the list of movies that received the highest number of “5” rating

In [10]:
print("\nTen movies with the most 5 ratings;")
print(*five_df["movie title"].value_counts(sort=True)[:10].index.values,sep='\n')

Ten movies with the most 5 ratings;
Star Wars (1977)
Fargo (1996)
Godfather, The (1972)
Raiders of the Lost Ark (1981)
Pulp Fiction (1994)
Schindler's List (1993)
Silence of the Lambs, The (1991)
Titanic (1997)
Empire Strikes Back, The (1980)
Return of the Jedi (1983)

Q8: Print the list of zip codes corresponding to the highest number of users that rated movies.

In [11]:
print("\nTen zip codes with the most ratings;")
print(user_df["zip code"].value_counts(sort=True)[:10].reset_index().to_string(header=None, index=None))

Ten zip codes with the most ratings;
 55414  9
 55105  6
 10003  5
 55337  5
 20009  5
 27514  4
 55408  4
 55454  4
 22903  3
 55113  3

Q9: Find the most rated movie by users in the age group 20 to 25.

In [12]:
print("\nMost rated movie by users between 20 and 25;")
print(*full_df.loc[(full_df['age'] <= 25) & (full_df['age'] >= 20)]["movie title"].value_counts(sort=True)[:1].index.values,sep="\n")

Most rated movie by users between 20 and 25;
Scream (1996)

Q10: Print the list of movies that were rate after year 1960.

In [13]:
print("\nMovies rated after 1960;")
cutoff = datetime.timestamp(datetime(1961,1,1))
after60s_df = full_df.loc[full_df["timestamp"] >= cutoff]["movie title"]
after60s_df

Movies rated after 1960;

0                                             Kolya (1996)
1                                      Men in Black (1997)
2                      Truth About Cats & Dogs, The (1996)
3                                     Birdcage, The (1996)
4        Adventures of Priscilla, Queen of the Desert, ...
                               ...
99995                                       Titanic (1997)
99996                                     G.I. Jane (1997)
99997                            Desperate Measures (1998)
99998                                         Spawn (1997)
99999                  Man Who Knew Too Little, The (1997)
Name: movie title, Length: 100000, dtype: object

Bonus: Convert UnixTimeStamp in  timestamp column of u.data to human readable date

In [14]:
print("\nConvert Unix timestamp to datetime;")
date_format_df = pd.to_datetime(full_df["timestamp"],unit='s')
date_format_df

Convert Unix timestamp to datetime;

0       1997-12-04 15:55:49
1       1997-12-04 16:06:17
2       1997-12-04 16:09:53
3       1997-12-04 16:12:35
4       1997-12-04 16:10:43
                ...
99995   1998-04-01 00:56:17
99996   1998-04-01 01:04:16
99997   1998-04-01 01:02:57
99998   1998-04-01 01:04:58
99999   1998-04-01 01:04:58
Name: timestamp, Length: 100000, dtype: datetime64[ns]